.books-top-container,
.books-bottom-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 10rem;
}

.books-top-container {
  padding: 0.5rem;
}

.books-top-left {
  display: flex;
  justify-content: space-between;
}

.books-bottom-container {
  flex-direction: column;
  padding: 1.5rem 3rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 1.5rem
}

.books-bottom-container > h3 {
  margin-bottom: 0;
}

.books-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3rem;
  text-align: left;
}

.books-library-name {
  margin-top: 0;
  font-weight: bold
}

.books-image {
  height: 193px;
  width: 128px;
  border-radius: 3px;
}

.books-title {
  margin-bottom: 0;
}

.books-title,
.books-author {
  margin-top: 0.5rem;
}

.books-isbn, 
.books-genre {
  margin: 0.5rem 0 0 0;
}

.books-desc {
  line-height: 1.5;
}

.books-remove-button {
  width: 10rem;
  height: 2rem;
  text-align: center;
  padding: 0.25rem;
  border-radius: 3px;
  cursor: pointer;
}

.books-remove-button:hover {
  background-color: rgba(243, 153, 163, 1);
  color: white;
}

/* Modal for Remove Book */

.cancelbtn,
.deletebtn {
  height: 2.5rem;
  margin: 0.5rem;
  margin-top: 2rem;
  font-size: medium;
}

.cancelbtn:hover {
  background-color: rgba(104, 69, 38, .5);
  color: white;
}

.deletebtn {
  background-color: rgba(243, 153, 163, 0.65);
}

.deletebtn:hover {
  background-color: rgba(243, 153, 163, 1);
}

.modal-text {
  padding: 2rem;
  text-align: center;
}

.modal-for-remove-book {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(71, 78, 93, 0.4);
  overflow: auto;
}

.modal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  border: 1px solid #684526;
  border-radius: 1.5rem;
  width: 75%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1100px) {
  .books-bottom-container,
  .books-top-container {
    margin-right: 6rem;
    margin-left: 6rem;
  }
}

@media screen and (max-width: 890px) {
  .books-top-container {
    flex-direction: column;
    align-items: center;
  }

  .books-remove-button,
  .books-bottom-container {
    justify-self: center;
    margin-top: 3rem;
  }

  .books-top-container {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .books-details {
    padding-left: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 775px) {
  .books-bottom-container,
  .books-top-container {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .books-bottom-container,
  .books-top-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  .books-bottom-container {
    margin-top: 1.25rem;
  }

  .books-top-container {
    margin-bottom: 1.25rem;
  }
  
  .books-top-left {
    flex-direction: column-reverse;
    align-items: center;
  }

  .books-details {
    padding-left: 0;
  }

  .books-image,
  .books-remove-button {
    margin-top: 1.25rem;
  }
}