.books-top-container,
.books-bottom-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 10rem;
}

.books-bottom-container {
  flex-direction: column;
}

.books-details {
  max-width: 60%;
  padding-left: 2rem;
  text-align: left;
}

.books-library-name {
  margin-top: 0;
}

.books-image {
  height: 193px;
  width: 128px;
}

.books-remove {
  margin: 0.5rem;
  height: fit-content;
  width: 10rem;
}