body {
  background: #E4FCFF;
  background-size: cover;
}

.error-container {
  width: 100%;
  height: 100vh;
  margin-top: -110px;
  background-color: #E4FCFF;
}

.grass-image {
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 125px;
}

.error-foreground {
  display: flex;
  margin: 0px 48px;
  height: 100vh;
}

.error-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-img {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.error-title {
  font-family: 'Grandstander', cursive;
  font-size: 2.25rem;
  margin: 0;
}

.error-desc {
  text-align: center;
}

.error-button:hover {
  background-color: rgb(254, 225, 171);
  cursor: pointer;
}

@media (max-width: 767px) {
  .error-container {
    padding-top: 140px;
    height: auto;
  }

  .error-foreground {
    flex-direction: column;
  }

  .library-image {
    margin-top: 50px;
    height: 75%;
    z-index: 1;
  }

  .error-text {
    width: 100%;
    text-align: center;
  }

  .error-button {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .library-image {
    height: 90%;
    min-height: 500px;
    width: 55%;
    min-width: 300px;
    bottom: 0;
    position: fixed;
    right: 0;
    margin-right: 40px;
    z-index: 2;
  }

  .error-text {
    width: 35%;
  }
}