@media (max-width: 767px) {
    header {
        padding: 10px 10px;
    }
    
    .bookhaven-logo {
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 768px) {
    header {
        padding: 16px 48px;
    }

    .bookhaven-logo {
        width: 24em;
        height: 4.5em;
    }
}
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a {
    z-index: 100;
}

.return-to-libraries-btn {
    align-self: center;
    height: 3em;
    width: 12em;
    background-color: #684526;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
  