header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 48px;
}

.header a {
    z-index: 100;
}

.bookhaven-logo {
    width: 24em;
    height: 4.5em;
}

.return-to-libraries-btn {
    align-self: center;
    height: 3em;
    width: 12em;
    background-color: #684526;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
  