body {
  background: #E4FCFF;
  background-size: cover;
}

.landing-container {
  width: full;
  height: 100%;
  background-color: #E4FCFF;
}

.grass-image {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 125px;
  z-index: -1;
}

.landing-foreground {
  display: flex;
  margin: 0px 48px;
  height: 100%;
}

.landing-text {
  width: 35%;
  margin-top: 20%;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-image {
  height: 90%;
  min-height: 500px;
  width: 55%;
  min-width: 300px;
  bottom: 0;
  position: fixed;
  right: 0;
  margin-right: 40px;
}

