@media (max-width: 767px) {
    .library-name {
        font-size: 2em;
    }
}
  
@media (min-width: 768px) {
    .library-info {
        margin-bottom: 1em;
    }

    .library-name {
        font-size: 2.5em;
    }
}

.library-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-name {
    color: #684526;
    font-weight: 900;
    margin-bottom: 0;
}

.street {
    padding-top: 0.5em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.city-state-zip {
    margin-top: 0;
    margin-bottom: 2.5em;
    padding-top: 0.3em;
    font-weight: bold;
}