.library-details-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.addBookBtn {
    padding: 0.5em 2em 0.5em 2em;
    margin-bottom: 2em;
}